# DevSecOps CI/CD workflow
name: DevSecOps CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Test workflow
        run: echo "Repository code is now available"
